@charset "UTF-8";

body{
	margin: 0 auto;
	background-image: url("DSC08574_s.jsp");
	background-size:cover;
	font-size: 100px;
    font-family: 'Noto Sans JP', sans-serif;
}

div{
	margin-left: 10%;
	color: #ffffff;
}

a{
	text-decoration: none;
	padding-right: 250px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
}

a:hover{
  background-position: -100% 0;
  color: #fff;
}

a:link { color: #ffffff; }
a:visited { color: #c0c0c0; }
a:hover { color: #000000; }
a:active { color: #ff8000; }


<select name="category">
			<option value="general">雑貨</option>
			<option value="electric">家電</option>
			<option value="book">書籍</option>
			<option value="food">食品</option>
			<option value="fashion">ファッション</option>
			<option value="other">未分類</option>
		</select>