@charset "UTF-8";

body{
	text-align: center
	margin: 0 auto;
	background-image: url("photo.jpeg");
	background-size: cover;
	font-size: 20px;
    font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
}


div {
	
	height: 100%;
	background: rgba(255,255,255,0.5);
	padding-bottom:90px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}
.bk{
	height: 100%;
  	background: rgba(255,255,255,0.5);
}
button {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #333c5e;
	border: solid 2px #333c5e;
	margin: 0 auto;
}

button:hover {
	background: #333c5e;
	color: white;
}

table {
  display: block;
  border-collapse: collapse;
  border: solid 2px #333c5e;
  text-align: center;
  margin-top: 300px;
}

table th {
  color: #008000;
  background: #CBFFD3;
  padding: 10px;
  opacity:0.8;
}

table td {
  color: #777777;
  padding: 3px 10px;
}

c:if{
	text-align: center;	
}

.btn{
	margin-bottom: 25em;
}