@charset "UTF-8";


body{
	
	background-image: url("photo.jpeg");
	background-size: cover;
	font-size: 20px;
    font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
}

div {
	width: 100vw;
  	height: 100vh;
	background: rgba(255,255,255,0.5);
	padding-bottom:90px;
}


h2 {
	font-size: 35px;
	text-align: center;	
	opacity:0.8;
	color: #333c5e;
	margin-top: out;
}

table {
	border-collapse: collapse;
	border: solid 2px #333c5e;
	text-align: center;
	margin:40px;
	margin-left:650px;
	
}

table th {
  padding: 10px;
  opacity:0.8;
}

table td {
  padding: 3px 10px;
}

c:if{
	text-align: center;	
}

.kaikei {
	display: inline-block;
	
	text-decoration: none;
	color: #333c5e;
	border: solid 2px #333c5e;
	margin-left: 1200px;
	
}

button:hover {
	background: #333c5e;
	color: white;
}




input:hover {
	background: #333c5e;
	color: white;
}

a {
	color: #333c5e;
	position: absolute;
  	right: 0;
  	bottom: 0;
}