@charset "UTF-8";


body{
	
	background-image: url("photo.jpeg");
	background-size: cover;
	font-size: 20px;
    	font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
}

div {
	width: 100vw;
  	height: 100vh;
	background: linear-gradient(-45deg, rgba(51,255,102,0.3), rgba(255, 255, 255, 0.5));
	padding-bottom:90px;
}


h1 {
	font-size: 35px;
	text-align: center;	
	opacity:0.8;
	color: #004C13;
	margin-top: out;
}


button {
	display: inline-block;
	padding: 0.9em 3em;
	text-decoration: none;
	color: #004C13;
	border: solid 2px #004C13;
	border-radius: 3px;
	margin: 0 auto;
	margin-left:50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
	margin-top:200px;
	
}

button:hover {
	background: #004C13;
	color: white;
}


