@charset "UTF-8";

body{
	margin: 0 auto;
	background-image: url("aurora.png");
	background-size:cover;
	font-family: 'Sawarabi Mincho', sans-serif;
}

.bkcg {
	height: 100%;
  	background: rgba(255,255,255,0.5);
  	padding:30px;
  	text-align: center;
}

.bkcg h2 {
	font-size: 40px;
	font-family: 'Sawarabi Mincho', sans-serif;
	color: #191970;
	font-weight: bold;
	color: #364e96;/*文字色*/
  	padding: 0.5em 0;/*上下の余白*/
  	border-top: solid 3px #364e96;/*上線*/
  	border-bottom: solid 3px #364e96;/*下線*/
}

.categy {
	padding-top: 60px;
}

.bkcg table {
	margin-left:auto;margin-right:auto;
}

.join {
	padding-top: 60px;
}

