@charset "UTF-8";

body{
	margin: 0 auto;
	background-image: url("login.jpg");
	background-size:cover;
	font-size: 20px;
    font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
}

.back div{
	height: 100%;
	background: rgba(255,255,255,0.5);
}

.all div {
	padding-left:20%;
}

.login div{
	text-align: center;
}

.newMember div{
	text-align: center;
}

h2{
	color: #333c5e;
	opacity:0.8;
	padding-top:20px;
}



label{
	display: block;
	width: 50px;
}


.login input{
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #333c5e;
	border: solid 2px #333c5e;
	border-radius: 3px;
	margin-bottom:30px;
}

.newMember input{
	display: inline-block;
	padding: 0.9em 3em;
	text-decoration: none;
	color: #333c5e;
	border: solid 2px #333c5e;
	border-radius: 3px;
	margin-bottom: 110px;
	margin-left: 20px;
	margin-top: 20px;
}

.submit:hover {
	background: #333c5e;
	color: white;
}

.newMem:hover {
	background: #333c5e;
	color: white;
}
